.cardlist{
    // background-color: darkblue;
}
.card{
    background-color: transparent;
    margin: 10px;
}
.card-body{
    padding: 0.25rem;
    background-color:white;
}
@media (max-width: 425px) {
    .container {
      width: 100%;
      max-width: none;
    }
  }
@media (max-width: 1199px){
    .btn-adjusting{
        width: min-content;       
    }
}
.btn-group{
    height: 47px;
    .btn-primary{
        border-radius:none;
        background: white;
        color: black;
        border:none;
    }
    .btn-primary.focus, .btn-primary.active{
        background-color:blue;
        color: white;
        box-shadow: none
    }

}
@media (max-width: 767px) {
    .hidden-button{
        display: none;
    }
}