
<div class="container">
		<nav class="navbar navbar-expand-lg justify-content-between navbar-light my-5">
			<a [routerLink]="['/organizations']" class="mb-2"> <<Back </a> 
			<div class="form-inline">
				<div class="input-group mr-2">
				<div class="input-group-prepend">
					<span class="input-group-text" id="basic-addon1"><span class="fa fa-search"></span></span>
				</div>
					<input type="text" class="form-control" placeholder="Cauta" aria-describedby="basic-addon1">
				</div>
				<!-- <button class="btn btn-info my-2 my-sm-0"><span class="fa fa-plus-circle"></span>&nbsp;&nbsp;Adauga Organizatie</button> -->
			</div>
		</nav>
		<div class="ngo-details row">
				<h3 class="col-md-12">Profil organizatie: {{data?.name}}</h3>
				<h5 class="col-md-12" style="margin-top:5px; font-weight: 500">Persoana de contact: {{data?.contact_person}}</h5>
				<span class="col-md-12"><span class="fa fa-envelope"></span>  {{data?.email}}</span>
				<span class="col-md-12"><span class="fa fa-phone"></span>  {{data?.phone}}</span>
				<span class="col-md-12"><b>Status organizatie: </b> {{data?.status || 'active' }}</span>
				<span class="col-md-12"><b>Total voluntari: </b>{{data?.voluntari || '0' }}</span>
				<span class="col-md-12"><b>Acoperire: </b> {{data?.acoperire || 'Nationala' }}</span>
				<div class="col-md-12">
						<span><b>Data ultimului update: </b> {{data?.data || 'Nu exista' }}</span>
				</div>
		</div>
		<div class="resource-list">
			<ngb-tabset type="pills">
				<ngb-tab><ng-template ngbTabTitle>Lista Voluntari</ng-template>
						<ng-template ngbTabContent>
						<span>Aceasta organizatie nu are niciun voluntar adaugat in sistem </span><button class="btn-info"><span class="fa fa-plus-circle"></span>&nbsp;&nbsp;Adauga Voluntar</button>
				</ng-template>
				</ngb-tab>
				<ngb-tab title="|" [disabled]="true"></ngb-tab>
				<ngb-tab><ng-template ngbTabTitle>Lista Resurse</ng-template>
					<ng-template ngbTabContent>
						<div class="table-responsive-md">
						<table class="table table-sm">
							<thead>
								<tr>
									<!-- sortable="name" (sort)="onSort($event)" -->
									<th scope="col" >Tip Resursa</th>
									<th scope="col" >Cantitate</th>
									<th scope="col" >Localizare</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let res of resourceData">
									<!-- <tr> -->
										<td>{{res.name}}</td>
										<td>{{res.quantity}}</td>
										<td>{{res.city}}, {{res.county}}</td>
										<!-- <td>{{res.updated_at}}</td> -->
										<td><button class="btn-info" [routerLink]="['/resources/id',res._id]">Vezi detalii</button></td>
									</tr>
								<!-- </div> -->
							</tbody>
						</table>
					</div>
					<span>Aceasta organizatie nu are nici o resursa adaugata in sistem</span>
					<button class="btn-info" (click)="openVerticallyCentered(content)">
						<span class="fa fa-plus-circle"></span>
						&nbsp;&nbsp;Adauga Resurse
					</button>
				</ng-template>
				</ngb-tab>
			</ngb-tabset>
	</div>
</div>
<ng-template #content let-modal>
		<div class="modal-header">
			<h4 class="modal-title">Adauga o Resursa</h4>
			<button type="button" class="close" (click)="modal.dismiss('Cross click')">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<form [formGroup]="form">
			<div class="modal-body">
				<div class="row">
					<div class="mt-4 col-md-12">
						<div class="form-group">
							<label >Categorie Resursa</label>
							<input formControlName="category" class="form-control">
						</div>
					</div>
					<div class="mt-4 col-md-12">
						<div class="form-group">
							<label >Nume Resursa</label>
							<input formControlName="name" class="form-control">
						</div>
					</div>
					<div class="mt-4 col-md-12">
						<div class="form-group">
							<label >Cantitate</label>
							<input type="number" formControlName="quantity" class="form-control">
						</div>
					</div>
					<div class="mt-4 col-md-6">
						<div class="form-group">
							<label >Judet</label>
							<input formControlName="county" class="form-control">
						</div>
					</div>
					<div class="mt-4 col-md-6">
						<div class="form-group">
							<label >Oras</label>
							<input formControlName="city" class="form-control">
						</div>
					</div>
					<div class="mt-4 col-md-4">
						<div class="form-group">
							<label >Mentiuni</label>
							<input formControlName="comments" class="form-control">
						</div>
					</div>
						<div class="errorMessage" *ngIf="!isValid">{{question.label}} is required</div>
					</div>
			</div>
			<div class="modal-footer">
				<button type="button" ngbAutofocus class="btn btn-info" (click)="onSubmit()">Ok</button>
			</div>
		</form>
</ng-template>