
<div class="container">
    <nav class="navbar navbar-expand-lg justify-content-between navbar-light my-5">
            <a [routerLink]="['/organizations']" class="mb-2"> <<Back </a> 
        <div class="form-inline">
            <div class="input-group mr-2">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1"><span class="fa fa-search"></span></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Cauta" aria-describedby="basic-addon1">
                  </div>
                  <!-- <button class="btn btn-info my-2 my-sm-0"><span class="fa fa-plus-circle"></span>&nbsp;&nbsp;Adauga Organizatie</button> -->
                </div>
    </nav>
    <div class="ngo-details row">
        <h3 class="col-md-12">Profil organizatie: {{data.name}}</h3>
        <h5 class="col-md-12" style="margin-top:5px; font-weight: 500">Persoana de contact: {{data.contact_person}}</h5>
        <span class="col-md-12"><span class="fa fa-envelope"></span>  {{data.email}}</span>
        <span class="col-md-12"><span class="fa fa-phone"></span>  {{data.phone}}</span>
        <span class="col-md-12"><b>Status organizatie: </b> {{data.status || 'active' }}</span>
        <span class="col-md-12"><b>Total voluntari: </b>{{data.voluntari || '0' }}</span>
        <span class="col-md-12"><b>Acoperire: </b> {{data.acoperire || 'Nationala' }}</span>
        <span class="px-15"><b>Data ultimului update: </b> {{data.data || 'Nu exista' }}</span> <button class=" btn-info"> Trimite Notificare</button>
    </div>
    <div class="resource-list">
            <ngb-tabset type="pills">
                <ngb-tab><ng-template ngbTabTitle>Lista Voluntari</ng-template>
                    <ng-template ngbTabContent>
                    <span>Aceasta organizatie nu are niciun voluntar adaugat in sistem </span><button class="btn-info"><span class="fa fa-plus-circle"></span>&nbsp;&nbsp;Adauga Voluntar</button>
                </ng-template>
                </ngb-tab>
                <ngb-tab title="|" [disabled]="true"></ngb-tab>
                <ngb-tab><ng-template ngbTabTitle>Lista Resurse</ng-template>
                    <ng-template ngbTabContent>
                    <span>Aceasta organizatie nu are nici o resursa adaugata in sistem </span><button class="btn-info"><span class="fa fa-plus-circle"></span>&nbsp;&nbsp;Adauga Resurse</button>
                </ng-template>
                </ngb-tab>
            </ngb-tabset>
        </div>
</div>
