 

@import 'variable';
/*==============================================================
 For all pages
 ============================================================== */

#main-wrapper {
  width: 100%;
}
