<div class = "container mt-5">
	<nav class="navbar navbar-expand-lg justify-content-between navbar-light my-5">
			<a [routerLink]="['/organizations']" class="mb-2"> <<Back </a> 
		</nav>
	<p class="page-title">Adauga o organizatie:</p>
	<form [formGroup]="form">
			<div class="row">
			<div *ngFor="let question of data" [class]="question.size">
				<div [ngSwitch]="question.controlType" >
					<div *ngSwitchCase="'textbox'" class="form-group">
						<label >{{question.label}}</label>
						<input [formControlName]="question.key" class="form-control"
							[id]="question.key" [type]="question.type">
						</div>
					<div *ngSwitchCase="'dropdown'" class="form-group">
						<label >{{question.label}}</label>
						<select class="form-control" [id]="question.key"  [formControlName]="question.key">
							<option *ngFor="let opt of question.options" [value]="opt.key">{{opt.value}}</option>
						</select>
					</div>
					<div *ngSwitchCase="'textarea'" class="form-group">
						<label >{{question.label}}</label>
						<textarea class="form-control" rows=3 [formControlName]="question.key"
							[id]="question.key"></textarea>
						</div>
				</div> 
			
			<div class="errorMessage" *ngIf="!isValid">{{question.label}} is required</div>
		</div>
		</div>
		<a class="mt-5 btn btn-info btn-rounded waves-effect waves-light m-b-40" (click)="onSubmit()" style="float:right">Save</a>
	</form>
</div>
