
.px-15{
    padding-left:15px;
    padding-right:15px;
}
::ng-deep .resource-list{
    margin-top:15px;
    .nav-item .nav-link.active{
            color:blue;
            text-decoration: underline;
            background-color: transparent;      
        }
    .nav-item .nav-link{
        color:gray;
        text-decoration: underline;
        background-color: transparent;
        }    
}
.table{
    th{
        padding: 15px;
        border:none;
        border-bottom: 1px solid black;
    }
    td{
        border-top: 1px solid black;
    }
    
}
@media (min-width: 768px){
    .responsive-btn{
        margin-left:15px;
    }
}
@media (max-width: 767px){
    .responsive-btn{
        float: right;
        white-space: normal;
        margin: 25px;
        width: min-content;
    }
}
