
<div class="container">
    <nav class="navbar navbar-expand-lg justify-content-between navbar-light my-5">
            <a [routerLink]="['/resources']" class="mb-2"> <<Back </a> 
        <div class="form-inline">
            <div class="input-group mr-2">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1"><span class="fa fa-search"></span></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Cauta" aria-describedby="basic-addon1">
                  </div>
                  <!-- <button class="btn btn-info my-2 my-sm-0"><span class="fa fa-plus-circle"></span>&nbsp;&nbsp;Adauga Organizatie</button> -->
                </div>
    </nav>
    <div class="ngo-details row">
        <h3 class="col-md-12">Denumire resursa: {{data?.name}}</h3>
    </div>
    <div class="resource-list">

    <div class="table-responsive-md">
    <table class="table table-sm">
            <thead>
                <tr>
                <!-- <th scope="col" sortable="name" (sort)="onSort($event)">Tip Resursa</th>
                <th scope="col" sortable="quantity" (sort)="onSort($event)">Cantitate</th>
                <th scope="col" sortable="location" (sort)="onSort($event)">Localizare</th>
                <th scope="col" sortable="date" (sort)="onSort($event)">Data ultimului update</th> -->
                </tr>
            </thead>
            <tbody>
                <tr>
                
                <td>Mark</td>
                <td >1</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td><button class="btn-info">Vezi detalii</button></td>
                </tr>
                <tr>
                
                <td>Jacob</td>
                <td >2</td>
                <td>Thornton</td>
                <td>@fat</td>
                <td><button class="btn-info">Vezi detalii</button></td>
                </tr>
                <tr>
                
                <td>Larry</td>
                <td>3</td>
                <td>the Bird</td>
                <td>@twitter</td>
                <td><button class="btn-info">Vezi detalii</button></td>
                </tr>
            </tbody>
            </table>
            </div>
        </div>
</div>