<div class="container">
    <nav class="navbar navbar-expand-lg justify-content-between navbar-light my-5">
        <h4 class="navtitle mb-2"> Organizații </h4>
        <div class="form-inline ml-auto">
            <app-table-search [pager]="pager" id=2 (searchChanged)="searchChanged($event)"></app-table-search>
            <div class="btn-group btn-group-toggle m-2 hidden-radio" ngbRadioGroup name="radioBasic"
                [(ngModel)]="displayBlock">
                <label ngbButtonLabel (click)="switchtoblock()" class="btn-primary btn">
                    <input ngbButton type="radio" [value]="true"><span class="fa fa-th-large"></span>
                </label>
                <label ngbButtonLabel (click)="switchtolist()" class="btn btn-primary">
                    <input ngbButton type="radio" [value]="false"><span class="fa fa-bars"></span>
                </label>
            </div>
            <button [routerLink]="['/organisations/add']" style="white-space: normal;"
                class="btn-adjusting btn btn-info btn-rounded m-2"><span
                    class="fa fa-plus-circle"></span>&nbsp;&nbsp;Adaugă Organizație</button>
        </div>
    </nav>
    <div class="filters my-3 mx-30px row">
        <span class='padding-rem'>Total: {{pager.total}}</span>
        <span class='padding-rem'>&nbsp;&nbsp;</span>
        <span class='padding-rem'>Filtrează după: &nbsp;</span>
        <ngx-multiselect class="type"
			[(ngModel)]="selected[0]"
            showMaxLables = "1"
			[options]="typeFilterValues"
			(onItemClick)="filterChanged(0)"
			(onSelectNone)="filterChanged(0)"
			(onSelectAll)="filterChanged(0)">
		</ngx-multiselect>
        <span class="vertical-bar">&nbsp;</span>
        <ngx-multiselect
			[(ngModel)]="selected[1]"
            showMaxLables = "1"
			[options]="locationFilterValues"
			(onItemClick)="filterChanged(1)"
			(onSelectNone)="filterChanged(1)"
			(onSelectAll)="filterChanged(1)">
		</ngx-multiselect>
        <span class="vertical-bar">&nbsp;</span>
        <ngx-multiselect class="specialization"
            [(ngModel)]="selected[3]"
            showMaxLables = "1"
            [options]="specializationFilterValues"
            [multiple]="false"
            (onClear)="singleFilterChanged(3)"
            (onItemClick)="singleFilterChanged(3)"
            (onSelectNone)="singleFilterChanged(3)"
            (onSelectAll)="singleFilterChanged(3)">
        </ngx-multiselect>
        <span class="vertical-bar">&nbsp;</span>
        <ngx-multiselect class="category"
            [(ngModel)]="selected[4]"
            showMaxLables = "1"
            [options]="categoryFilterValues"
            [multiple]="false"
            [propertyMap]="propertyMap"
            (onClear)="singleFilterChanged(4)"
            (onItemClick)="singleFilterChanged(4)"
            (onSelectNone)="singleFilterChanged(4)"
            (onSelectAll)="singleFilterChanged(4)">
            <ng-template let-option="option">
                    <span [ngClass]="{'pl-3': option.parent_id!=='0'}">
                       {{option.name}} 
                    </span>
                 </ng-template>
        </ngx-multiselect>
    </div>

    <div *ngIf="displayBlock; else displayList" class="cardlist row mt-5">
        <div *ngFor="let elem of ngosData" class="d-flex col-md-6 col-sm-12 col-lg-4">
            <div class="card mb-2" style="flex-grow: 1" [routerLink]="['id',elem._id]">
                <div class="card-body">
                    <a class="btn btn-fix text-left">
                        <h4 class="card-title">{{elem.name}}</h4>
                        <div class="card-text row">
                            <span class="col-md-12">
                                <i class="fa fa-envelope"></i>
                                {{elem.email}}
                            </span>
                            <span class="col-md-12">
                                <i class="fa fa-phone"></i>
                                {{elem.phone}}
                            </span>
                        </div>
                    </a>
                    <div class="btn btn-fix text-left">
                        Resurse:<br>
                        <a (click)="showOrganisationDetails(elem._id, 'volunteers', $event)" href="javascript:void(0);"
                            class="card-link">voluntari: {{elem.volunteers}}</a>
                        &sdot;
                        <a (click)="showOrganisationDetails(elem._id, 'resources', $event)" href="javascript:void(0);"
                            class="card-link">resurse: {{elem.resources}}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 mx-30px">
                <ngb-pagination
                    [maxSize]="5"
                    [(page)]="pager.page"
                    [pageSize]="pager.size"
                    (pageChange)="getData()"
                    [collectionSize]="pager.total">
                </ngb-pagination>
            </div>
    </div>

    <ng-template #displayList>
        <div class="table-responsive">
            <table class="table customTable table-sm">
                <thead>
                    <tr>
                        <!-- sortable="name" (sort)="onSort($event)" -->
                        <th scope="col" appTableSort [pager]="pager" [value]="1" (sortChanged)="sortChanged($event)">
                            Nume</th>
                        <th scope="col" appTableSort [pager]="pager" [value]="2" (sortChanged)="sortChanged($event)">
                            Locație</th>
                        <th scope="col">
                            Nr. Voluntari</th>
                        <th scope="col">
                            Nr. Resurse</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let res of ngosData">
                        <!-- <tr> -->
                        <td>{{res.name}}</td>
                        <td>{{res.city?.name}}, {{res.county?.name}}</td>
                        <td>{{res.volunteers}}</td>
                        <td>{{res.resources}}</td>
                        <!-- <td>{{res.updated_at}}</td> -->
                        <td class="text-right"><button class="btn btn-info" [routerLink]="['id',res._id]">Vezi
                                detalii</button></td>
                    </tr>

                </tbody>
            </table>

            <ngb-pagination
                    [maxSize]="5" [(page)]="pager.page" [pageSize]="pager.size" (pageChange)="getData()"
                [collectionSize]="pager.total">
            </ngb-pagination>
        </div>
    </ng-template>
</div>