<div class="container mt-5">
	<nav class="navbar navbar-expand-lg justify-content-between navbar-light my-5">
		<app-back-button></app-back-button>
	</nav>
	<p class="page-title">Adaugă un voluntar:</p>
	<div class="note col-md-8">
		<span>
			Vrei să adaugi mai mulți voluntari simultan?
			<a [routerLink]="['volunteers/import']">Importă o listă</a>.
		</span>
	</div>

	<form [formGroup]="form" (ngSubmit)="onSubmit()">
		<div class="row">
			<div class="mt-4 col-md-4 col-sm-12">
				<div class="form-group">
					<label>Nume și Prenume *</label>
					<input
						formControlName="name"
						class="form-control"
						type="text"	/>
				</div>
			</div>

			<div class="mt-4 col-md-4 col-sm-12">
				<div class="form-group">
					<label>CNP *</label>
					<input
						formControlName="ssn"
						class="form-control"
						type="number"	/>
				</div>
			</div>

			<div class="mt-4 col-md-4 col-sm-12">
				<div class="form-group">
					<label>Email *</label>
					<input
						formControlName="email"
						class="form-control"
						type="email"/>
				</div>
			</div>

			<div class="mt-4 col-md-4 col-sm-12">
				<div class="form-group">
					<label>Profesie</label>
					<input
						formControlName="job"
						class="form-control"
						type="text"	/>
				</div>
			</div>

			<div class="mt-4 col-md-4 col-sm-12">
				<div class="form-group">
					<label>Telefon *</label>
					<input
						formControlName="phone"
						class="form-control"
						type="tel"	/>
				</div>
			</div>

			<div class="mt-4 col-md-4 col-sm-12">
				<div class="form-group">
					<label>Organizație *</label>
					<input [(ngModel)]="defaultOrgValue" [ngModelOptions]="{standalone: true}"
						[disabled]="orgDisabled"
						type="text"
						(selectItem)="selectedorganisation($event)"
						class="form-control"
						[ngbTypeahead]="searchorganisation"
						[resultFormatter]="formatter"
						[inputFormatter]="formatter"
						(focus)="focus$.next($event.target.value)"
						(click)="click$.next($event.target.value)"
						#instance="ngbTypeahead"/>
				</div>
			</div>

			<div class="mt-4 col-md-4 col-sm-12">
				<div class="form-group">
					<label>Județ *</label>
					<input
						type="text"
						formControlName="county"
						(selectItem)="selectedCounty($event)"
						class="form-control"
						[ngbTypeahead]="searchcounty"
						(focus)="focus1$.next($event.target.value)"
						(click)="click1$.next($event.target.value)"
						#instance="ngbTypeahead"/>
				</div>
			</div>

			<div class="mt-4 col-md-4 col-sm-12">
				<div class="form-group">
					<label>Localitate *</label>
					<input
						type="text"
						formControlName="city"
						class="form-control"
						[ngbTypeahead]="searchcity"
						placeholder="{{ cityPlaceholder }}"
						autocomplete="new-password"
						(focus)="focus2$.next($event.target.value)"
						(click)="click2$.next($event.target.value)"
						#instance="ngbTypeahead"/>
				</div>
			</div>

			<div class="mt-4 col-md-4 col-sm-12">
				<div>
					<div class="form-group">
						<label>Adresă</label>
						<input
							formControlName="address"
							class="form-control"
							type="text"	/>
					</div>
				</div>
			</div>

			<div class="col-md-12 mt-4">
				<table class="w-100 border-spacing">
					<tr>
						<th>
							<label>Specializare</label>
						</th>
						<th>
							<label>Data acreditării</label>
						</th>
						<th>
							<label>Acreditat de</label>
						</th>
					</tr>
					<tr	*ngFor="let course of c.controls; let i = index"
						[formGroup]="course"
						class="mb-3">
						<td style="padding-right:15px">
							<div class="form-group">
								<input
									formControlName="name"
									class="form-control"
									type="text"	/>
							</div>
						</td>
						<td style="padding-right:15px">
							<div class="form-group">
								<input	formControlName="obtained"
									class="form-control"
									type="date"	/>
							</div>
						</td>
						<td>
							<div class="form-group">
								<input	formControlName="acreditedby"
									class="form-control"
									type="text"	/>
							</div>
						</td>
						<td>
							<button	(click)="removeCourse(i)"
								class="btn-danger btn margin-auto-center"
								type="button">
								<span class="fa fa-trash"></span>
							</button>
						</td>
					</tr>
					<tr>
						<td style="padding-right:15px">
							<div class="form-group">
								<input
									[(ngModel)]="coursename"
									[ngModelOptions]="{ standalone: true }"
									class="form-control"
									type="text"	/>
							</div>
						</td>
						<td style="padding-right:15px">
							<div class="form-group">
								<input
									[(ngModel)]="obtained"
									[ngModelOptions]="{ standalone: true }"
									class="form-control"
									type="date"	/>
							</div>
						</td>
						<td>
							<div class="form-group">
								<input
									[(ngModel)]="acreditedby"
									[ngModelOptions]="{ standalone: true }"
									class="form-control"
									type="text"	/>
							</div>
						</td>
						<td>
							<button
								(click)="addCourse()"
								class="btn-info btn margin-auto-center"
								type="button">
								<span class="fa fa-plus-circle"></span>
							</button>
						</td>
					</tr>
				</table>
			</div>

			<div class="mt-4 col-md-12">
				<div class="form-group">
					<label>Comentarii</label>
					<textarea
						class="form-control"
						rows="3"
						formControlName="comments"
						type="text">
					</textarea>
				</div>
			</div>
		</div>
		<button
			[disabled]="form.invalid"
			class=" btn btn-info btn-rounded waves-effect waves-light mt-5"
			type="submit"
			style="color:white; float:right">
			Adaugă
		</button>
	</form>
</div>
