<div class="container mt-5">
	<nav class="navbar navbar-expand-lg justify-content-between navbar-light my-5">
		<app-back-button></app-back-button>
	</nav>
	<p class="page-title">Adaugă voluntar:</p>

	<div class="note col-md-7">
		<span>
			Vrei să adaugi voluntari individual?
			<a [routerLink]="['../add']">Adaugă un voluntar</a>.
		</span>
	</div>

	<p class="m-2" *ngIf="!!fileName">{{ fileName }}</p>

	<div class="import-box">
		<button class="btn btn-info mt-4 btn-import">
			Importați un fișier CSV
		</button>
		<input type="file" #csvReader name="Upload CSV" id="txtFileUpload" (change)="uploadListener($event)"
			accept=".csv" class="import-csv" />
	</div>

</div>