<div class="container mt-5">
	<nav class="navbar navbar-expand-lg justify-content-between navbar-light my-5">
		<app-back-button></app-back-button>
	</nav>
	<p class="page-title">Adaugă o resursa:</p>
	<form [formGroup]="form" (ngSubmit)="onSubmit()">
		<div class="row">
			<div class="mt-4 col-md-4 col-sm-12">
				<div class="form-group">
					<label>Nume resursa *</label>
					<input
						formControlName="name"
						[ngClass]="{ 'error': form.controls.name.invalid && form.controls.name.touched }"
						class="form-control"
						type="text"	/>
				</div>
			</div>

			<div class="mt-4 col-md-4 col-sm-12">
				<div class="form-group">
					<label>Categorie *</label>
					<input
						[ngClass]="{ 'error': form.controls.type_name.invalid && form.controls.type_name.touched }"
						[(ngModel)]="defaultCategory" [ngModelOptions]="{standalone: true}"
						type="text"
						(selectItem)="selectedCategory($event)"
						class="form-control"
						[ngbTypeahead]="searchCategory"
						[resultFormatter]="formatter"
						[inputFormatter]="formatter"
						(focus)="focus3$.next($event.target.value)"
						(click)="click3$.next($event.target.value)"
						#instance="ngbTypeahead"/>
				</div>
			</div>

			<div class="mt-4 col-md-4 col-sm-12">
				<div class="form-group">
					<label>Subcategorie *</label>
					<input
						[ngClass]="{ 'error': form.controls.subcat.invalid && form.controls.subcat.touched }"
					
						[(ngModel)]="defaultSubcat" [ngModelOptions]="{standalone: true}"
						type="text"
						(selectItem)="selectedSubCategory($event)"
						class="form-control"
						[ngbTypeahead]="searchSubcat"
						[resultFormatter]="formatter"
						[inputFormatter]="formatter"
						(focus)="focus4$.next($event.target.value)"
						(click)="click4$.next($event.target.value)"
						#instance="ngbTypeahead"/>
				</div>
			</div>

			<div class="mt-4 col-md-4 col-sm-12">
				<div class="form-group">
					<label>Cantitate *</label>
					<input
						formControlName="quantity"
						[ngClass]="{ 'error': form.controls.quantity.invalid && form.controls.quantity.touched }"
						class="form-control"
						type="number"	/>
				</div>
			</div>
            <div class="mt-4 col-md-8 col-sm-12">
				<div class="form-group">
					<label>Organizație *</label>
					<input [(ngModel)]="defaultOrgValue" [ngModelOptions]="{standalone: true}"
						[disabled]="orgDisabled"
						type="text"
						(selectItem)="selectedOrganisation($event)"
						class="form-control"
						[ngbTypeahead]="searchOrganisation"
						[resultFormatter]="formatter"
						[inputFormatter]="formatter"
						(focus)="focus$.next($event.target.value)"
						(click)="click$.next($event.target.value)"
						#instance="ngbTypeahead"/>
				</div>
			</div>

			<div class="mt-4 col-md-4 col-sm-12">
				<div class="form-group">
					<label>Județ *</label>
					<input
						type="text"
						formControlName="county"
						(selectItem)="selectedCounty($event)"
						class="form-control"
						[ngbTypeahead]="searchCounty"
						[ngClass]="{ 'error': form.controls.county.invalid && form.controls.county.touched }"
						[inputFormatter]="formatter"
						[resultFormatter]="formatter"
						(focus)="focus1$.next($event.target.value)"
						(click)="click1$.next($event.target.value)"
						#instance="ngbTypeahead"
					/>
				</div>
			</div>

			<div class="mt-4 col-md-4 col-sm-12">
				<div class="form-group">
					<label>Localitate *</label>
					<input
						type="text"
						formControlName="city"
						[ngClass]="{ 'error': form.controls.city.invalid && form.controls.city.touched }"
						class="form-control"
						[ngbTypeahead]="searchCity"
						[inputFormatter]="formatter"
						[resultFormatter]="formatter"
						placeholder="{{ cityPlaceholder }}"
						autocomplete="new-password"
						(focus)="focus2$.next($event.target.value)"
						(click)="click2$.next($event.target.value)"
						#instance="ngbTypeahead"
					/>
				</div>
			</div>

			<div class="mt-4 col-md-4 col-sm-12">
				<div class="form-group">
					<label>Adresă</label>
					<input
						formControlName="address"
						class="form-control"
						[ngClass]="{ 'error': form.controls.address.invalid && form.controls.address.touched }"
						type="text"
					/>
				</div>
			</div>

			<div class="mt-4 col-md-12">
				<div class="form-group">
					<label>Comentarii</label>
					<textarea
						rows="3"
						formControlName="comments"
						[ngClass]="{ 'error': form.controls.comments.invalid && form.controls.comments.touched }"
						class="form-control"
						type="text"
					></textarea>
				</div>
			</div>
		</div>

		<button
			[disabled]="form.invalid"
			class="btn btn-info btn-rounded waves-effect waves-light mt-5"
			type="submit"
			style="color:white; float:right">
			Salvează
		</button>
	</form>
</div>
