
.card {
    background-color: transparent;
    margin: 10px;
}

.card-body {
    padding: 0.25rem;
    background-color:white;
}

@media (max-width: 425px) {
    .container {
      width: 100%;
      max-width: none;
    }
}

@media (max-width: 1199px) {
    .btn-adjusting {
        width: min-content;
    }
}
::ng-deep .category{
    .none-selected:before {
        content: 'Categorie' !important;
    }
}
.card-text {

	span {
		line-height: 1;
		height: auto;
		display: block;
		overflow: initial;
		overflow-wrap: initial;
		word-break:initial;
    }

	div.col-md-12.d-flex {
		margin-bottom: 0.3rem;

		.category-element {
			margin-bottom: 0.25rem;
		}
	}
}
