::ng-deep .category{
    .none-selected:before {
        content: 'Categorie' !important;
    }
}
::ng-deep .specialization{
    .none-selected:before{
        content:'Specializări' !important;
    }
}

.hide {
    visibility: hidden;
}

.show {
    visibility: unset;
}