<div class="container">
	<nav class="navbar navbar-expand-lg justify-content-between navbar-light my-5">
		<app-back-button *ngIf="authService.is('DSU')"></app-back-button>
		<div class="form-inline ml-auto">
			<app-table-search *ngIf="selectedTab === 'volunteers'; else resource" [pager]="volunteerPager" (searchChanged)="searchChanged($event)"></app-table-search>
			<ng-template #resource>
			<app-table-search [pager]="resourcePager" (searchChanged)="searchChanged($event)"></app-table-search>
			</ng-template>
			<button *ngIf="authService.is('DSU')" (click)="deleteSelf()" class="btn btn-danger mx-2 my-sm-0"><span
				class="fa fa-trash-o"></span>&nbsp;&nbsp;Sterge Organizatia</button>
			<div *ngIf="hasResources && selectedTab === 'resources'">
				<button (click)="addresource()" class="btn btn-info m-2 my-sm-0 d-block">
					<span class="fa fa-plus-circle"></span>&nbsp;&nbsp;Adaugă Resursă
				</button>
			</div>
			<div *ngIf="hasVolunteers && selectedTab === 'volunteers'">
				<button (click)="addvolunteer()" class="btn btn-info m-2 my-sm-0 d-block">
					<span class="fa fa-plus-circle"></span>&nbsp;&nbsp;Adaugă Voluntar
				</button>
			</div>
		</div>
	</nav>
	<div class="ngo-details row">
		<h3 class="col-md-12">Profil organizație: {{data?.name}}</h3>
		<h5 class="col-md-12" style="margin-top:5px; font-weight: 500">Persoana de contact: {{data?.contact_person}}
		</h5>
		<span class="col-md-12"><span class="fa fa-envelope"></span> {{data?.email}}</span>
		<span class="col-md-12"><span class="fa fa-phone"></span> {{data?.phone}}</span>
		<span class="col-md-12"><b>Status organizație:</b> {{data?.status || 'activ' }}</span>
		<span class="col-md-12"><b>Total voluntari:</b> {{data?.voluntari || '0' }}</span>
		<span class="col-md-12"><b>Acoperire:</b> {{data?.acoperire || 'Națională' }}</span>
		<div class="col-md-12">
			<span><b>Data ultimului update: </b> {{ (data?.updated_at | date: 'dd.MM.yyyy') || 'Nu există' }}</span>
			<button *ngIf="authService.is('DSU')" class="btn mx-3 btn-info" (click)="sendNotification()"><span
					class="fa fa-plus-circle"></span>&nbsp;&nbsp;Trimite Notificare</button>
		</div>
	</div>
	<div class="resource-list">
		<ngb-tabset type="pills" #tabRef>
			<ngb-tab id="volunteers">
				<ng-template ngbTabTitle>
					<a (click)="selectedTab = 'volunteers'">Lista Voluntari</a>
				</ng-template>
				<ng-template ngbTabContent>
					<div *ngIf="hasVolunteers; else noVolunteers">
						<div class="filters mx-30px row">
							<span class="padding-rem">Total: {{volunteerPager.total}}</span>
							<span class="padding-rem">&nbsp;&nbsp;</span>
							<span class="padding-rem">Filtreaza dupa: &nbsp;</span>
							<ngx-select-dropdown (change)="volunteerFilterChanged($event,'1')" class="filterbutton"
								[multiple]="true" [config]="volunteerconfig" [options]="typeFilterValues">
							</ngx-select-dropdown>
							<span class="vertical-bar">&nbsp;</span>
							<ngx-select-dropdown (change)="volunteerFilterChanged($event,'2')" class="filterbutton"
								[multiple]="true" [config]="locationconfig" [options]="locationFilterValues">
							</ngx-select-dropdown>
							<span class="vertical-bar">&nbsp;</span>
							<ngx-select-dropdown (change)="volunteerFilterChanged($event,'3')" class="filterbutton"
								[multiple]="true" [config]="specializationconfig"
								[options]="specializationFilterValues"></ngx-select-dropdown>
						</div>
						<div class="table-responsive-md">
							<table class="table customTable table-sm">
								<thead>
									<tr>
										<!-- sortable="name" (sort)="onSort($event)" -->
										<th scope="col" appTableSort [pager]="volunteerPager" [value]="1"
											(sortChanged)="sortChanged($event)">Nume</th>
										<th scope="col" appTableSort [pager]="volunteerPager" [value]="2"
											(sortChanged)="sortChanged($event)">Specializare</th>
										<th scope="col" appTableSort [pager]="volunteerPager" [value]="3"
											(sortChanged)="sortChanged($event)">Localizare</th>
										<th scope="col" appTableSort [pager]="volunteerPager" [value]="4"
											(sortChanged)="sortChanged($event)">Data ultimului training</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<tr *ngFor="let res of volunteersData">
										<!-- <tr> -->
										<td>{{res.name}}</td>
										<td>{{res.job}}</td>
										<td>{{res.city.name||res.city}}, {{res.county.name||res.county}}</td>
										<td>{{res.updated_at}}</td>
										<td class="text-right">
											<button class="btn btn-info d-block"
												[routerLink]="['/volunteers/id',res._id]">Vezi profil</button>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<ngb-pagination [(page)]="volunteerPager.page" [pageSize]="volunteerPager.size"
							(pageChange)="getResources()" [collectionSize]="volunteerPager.total">
						</ngb-pagination>
					</div>
					<ng-template #noVolunteers>
						<span>Aceasta organizatie nu are niciun voluntar adaugat in sistem </span><button
							(click)="addvolunteer()" class="btn btn-info d-block"><span
								class="fa fa-plus-circle"></span>&nbsp;&nbsp;Adaugă Voluntar</button>
					</ng-template>
				</ng-template>
			</ngb-tab>
			<ngb-tab title="|" [disabled]="true"></ngb-tab>
			<ngb-tab id="resources">
				<ng-template ngbTabTitle>
					<a (click)="selectedTab ='resources'">Lista Resurse</a></ng-template>
				<ng-template ngbTabContent>
					<div *ngIf="hasResources; else noResources">
						<div class="filters mx-30px row">
							<span class="padding-rem">Total: {{resourcePager.total}}</span>
							<span class="padding-rem">&nbsp;&nbsp;</span>
							<span class="padding-rem">Filtreaza dupa: &nbsp;</span>

							<ngx-select-dropdown (change)="resourceFilterChanged($event,'1')" class="filterbutton"
								[multiple]="true" [config]="typeconfig" [options]="typeFilterValues">
							</ngx-select-dropdown>
							<span class="vertical-bar">&nbsp;</span>
							<ngx-select-dropdown (change)="locationfil($event,'2')" class="filterbutton"
								[multiple]="true" [config]="locationconfig" [options]="locationFilterValues">
							</ngx-select-dropdown>
						</div>
						<div class="table-responsive-md">
							<table class="table customTable table-sm">
								<thead>
									<tr>
										<!-- sortable="name" (sort)="onSort($event)" -->
										<th scope="col" appTableSort [pager]="resourcePager" [value]="1"
											(sortChanged)="sortChanged($event)">Tip Resursa</th>
										<th scope="col" appTableSort [pager]="resourcePager" [value]="2"
											(sortChanged)="sortChanged($event)">Cantitate</th>
										<th scope="col" appTableSort [pager]="resourcePager" [value]="3"
											(sortChanged)="sortChanged($event)">Localizare</th>
									</tr>
								</thead>
								<tbody>
									<tr *ngFor="let res of resourceData">
										<td>{{res.name}}</td>
										<td>{{res.quantity}}</td>
										<td>{{res.city.name}}, {{res.county.name}}</td>
										<td class="text-right">
											<button class="btn btn-info m-1"
												(click)="editResource(res)">Editeaza</button>
											<button *ngIf="authService.is('DSU')" class="btn btn-info m-1"
												[routerLink]="['/resources/id',res._id]">Vezi detalii</button>
										</td>
									</tr>
								</tbody>
							</table>
							<ngb-pagination [(page)]="resourcePager.page" [pageSize]="resourcePager.size"
								(pageChange)="getVolunteers()" [collectionSize]="resourcePager.total">
							</ngb-pagination>
						</div>
					</div>
					<ng-template #noResources>
						<span>Aceasta organizatie nu are nici o resursa adaugata in sistem</span>
						<button class="btn btn-info d-block" (click)="addresource()">
							<span class="fa fa-plus-circle"></span>
							&nbsp;&nbsp;Adaugă Resurse
						</button>
					</ng-template>
				</ng-template>
			</ngb-tab>
		</ngb-tabset>
	</div>
</div>