<div class="container">
    <nav class="navbar navbar-expand-lg justify-content-between navbar-light my-5">
        <app-back-button></app-back-button>
    </nav>
    <div class="ngo-details row">
        <h3 class="col-md-12">Denumire resursa: {{data?.name}}</h3>
    </div>
    <div class="resource-list">

        <div class="table-responsive-md">
            <table class="table customTable table-sm">
                <thead>
                    <tr>
                        <!-- sortable="name" (sort)="onSort($event)" -->
                        <th scope="col" appTableSort [pager]="pager" [value]="1" (sortChanged)="sortChanged($event)">
                            Organizație</th>
                        <th scope="col" appTableSort [pager]="pager" [value]="2" (sortChanged)="sortChanged($event)">
                            Cantitate</th>
                        <th scope="col" appTableSort [pager]="pager" [value]="3" (sortChanged)="sortChanged($event)">
                            Adresa</th>
                        <th scope="col" appTableSort [pager]="pager" [value]="4" (sortChanged)="sortChanged($event)">
                            Judet</th>
                        <th scope="col" appTableSort [pager]="pager" [value]="5" (sortChanged)="sortChanged($event)">
                            Data ultimului Update</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let res of organisations">
                        <!-- MUST REMOVE WHEN BACKEND IS READY -->
                        <td>{{res.organisation[0].name}}</td>
                        <td>{{data.quantity}}</td>
                        <td>{{data.address}}</td>
                        <td>{{data.city?.name}}, {{data.county?.name}}</td>
                        <td>{{data.updated_at}}</td>
                        <td class="text-right">
                            <div>
                                <button class="btn btn-info" [routerLink]="['/organisations/id',res.organisation[0]._id]">Detalii</button>
                                <button *ngIf="authService.is('DSU','NGO') && !loading" (click)="deleteSelf(data._id)"
                                    class="btn btn-danger ml-1">
                                    <span class="fa fa-trash-o"></span>&nbsp;Șterge
                                </button>
                                <div class="spinner-border text-danger ml-1" role="status"
                                    *ngIf="authService.is('DSU','NGO') && loading">
                                    <span class="sr-only">Loading...</span>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <ngb-pagination [(page)]="pager.page" [pageSize]="pager.size" (pageChange)="getData()"
                [collectionSize]="pager.total">
            </ngb-pagination>
        </div>
    </div>