.volunteer {
    float: left;
    padding: 10px;
    margin: 10px;
    border: 1px solid #CCC;
    box-shadow: 0px 0px 5px #CCC;
    width: 300px;
}

.volunteer h3 {
    margin: 0;
    font-weight: normal;
}

.volunteer p {
    display: flex;
}

.volunteer p i, .volunteer p span {
    align-self: center;
}

.volunteer .material-icons {
    margin-right: 5px;
}

.volunteer .button i, .volunteer .button span {
    color: #FFF;
}