<div class="container">
    <nav class="navbar navbar-expand-lg justify-content-between navbar-light my-5">
        <h4 class="navtitle mb-2"> Despre Aplicație </h4> 
    </nav>

    <div>
        <p>
            Resource and Volunteer Management este o aplicație menită să ofere sprijin în eventualitatea unei calamități majore care ar avea loc în România. RVM este un instrument de administrare de voluntari și resurse pe care le pune la dispoziție societatea civilă către Departamentul de Situații de Urgență în cazul unui seism major sau al unui alt dezastru natural. Aplicația permite managementul stocurilor de resurse disponibile, menținerea unei situații clare cu privire la cantități, tipuri de materiale și locurile în care acestea sunt depozitate, precum și statusul voluntarilor organizați pe specializări distincte.
        </p>
        <p>
            RVM are două componente principale:
        </p>
        <ul>
            <li>
                Aplicația web care permite gestionarea resurselor și a voluntarilor specializați în oferirea de prim-ajutor, dar și de intervenție de orice alt tip
            </li>
            <li>
                Aplicația mobilă care permite ofițerilor de intervenție din teren să mobilizeze voluntari sau să valideze identitatea unor voluntari deja existenți în platformă. 
            </li>
        </ul>
        <p>
            Sistemul are patru tipuri de utilizatori: 
        </p>
        <ul>
            <li>
                Administratorul DSU care are capacitatea de a urmări simplu care este nivelul de resurse disponibile din teren la orice moment și de a cere organizațiilor situații actualizate, poate da acces altor instituții în platformă și poate administra organizațiile, respectiv resursele centralizate în platformă.
            </li>
            <li>
                Administratorul ONG care are un cont dedicat unde își poate ține evidența resurselor pe care le poate face disponibile în cazul în care situația o cere.
            </li>
            <li>
                Administratorul instituțional care poate să listeze în platformă efectivele de intervenție ca aceștia să poată beneficia de aplicație pe teren în caz de dezastru.
            </li>
            <li>
                Ofițerul de intervenție care poate fi un angajat DSU, al Poliției, Jandarmeriei sau al altei instituții care intervine în caz de urgență și are nevoie să mobilizeze voluntari sau să valideze identitatea unor voluntari deja existenți în platformă.
            </li>
        </ul>
        <p>
            Aplicația RVM este dezvoltată de Code for Romania, în parteneriat cu Departamentul pentru Situații de Urgență și cu sprijinul World Bank.
        </p>

        <div class="row justify-content-between logo-group">
            <img src="../../../../assets/images/dsu_logo.png" class="col-md-3"/>
            <img src="../../../../assets/images/code_4_romania_logo.svg" class="col-md-3"/>
            <img src="../../../../assets/images/world_bank_logo.JPG" class="col-md-3"/>
            <img src="../../../../assets/images/GFDPR_logo.jpg" class="col-md-3"/>
        </div>
    </div>

</div>

