<div class="container">
    <nav class="navbar navbar-expand-lg justify-content-between navbar-light my-5">
        <h4 class="navtitle mb-2"> Voluntari </h4> 
        <div class="form-inline">
            <div class="input-group m-2">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><span class="fa fa-search"></span></span>
                </div>
                <input type="text" class="form-control" placeholder="Cauta" aria-label="Cauta" aria-describedby="basic-addon1">
            </div>
            <div class="btn-group btn-group-toggle m-2 hidden-button"  ngbRadioGroup name="radioBasic" [(ngModel)]="displayBlock">
                    <label ngbButtonLabel (click)="switchtoblock()" class="btn-primary">
                        <input ngbButton type="radio" [value]="true"><span class="fa fa-th-large"></span>
                    </label>
                    <label ngbButtonLabel (click)="switchtolist()" class="btn-primary">
                        <input ngbButton type="radio" [value]="false"><span class="fa fa-bars"></span>
                    </label>
                </div>
            <button [routerLink]="['/volunteers/add']" style="white-space: normal;" class="btn-adjusting btn btn-info btn-rounded m-2">
                <span class="fa fa-plus-circle"></span>&nbsp;&nbsp;Adauga Voluntari
            </button>
        </div>
    </nav>
    <div class="filters row" >
            <span class='padding-rem'>Total: {{pagerTotal}}</span>
            <span class='padding-rem'>&nbsp;&nbsp;</span>
            <span class='padding-rem'>Filtreaza dupa: &nbsp;</span>
            <ngx-select-dropdown (change)="filterChanged($event)" class="filterbutton" [multiple]="true" [config]="typeconfig" [options]="typeFilterValues"></ngx-select-dropdown>
            <span class="vertical-bar">&nbsp;</span>
            <ngx-select-dropdown (change)="filterChanged($event)" class="filterbutton" [multiple]="true" [config]="locationconfig" [options]="locationFilterValues"></ngx-select-dropdown>
            <span class="vertical-bar">&nbsp;</span>
            <ngx-select-dropdown (change)="filterChanged($event)" class="filterbutton" [multiple]="true" [config]="specializationconfig" [options]="specializationFilterValues"></ngx-select-dropdown>
            <span class="vertical-bar">&nbsp;</span>
		    <ngx-select-dropdown (change)="filterChanged($event)" class="filterbutton" [multiple]="true" [config]="ngoconfig" [options]="NGOFilterValues"></ngx-select-dropdown>
        </div>
    <div *ngIf="displayBlock; else displayList" class="cardlist row">
        <div *ngFor="let elem of volunteersData" [ngClass]="listoptions">
            <div class="card mb-2" style="flex-grow: 1">
                <a [routerLink]="['id',elem._id]" class="btn btn-fix text-left">
                    <div class="card-body">
                        <h4 class="card-title">{{elem.name}}</h4>
                        <div class="card-text row"> 
                            <span class="col-md-12">{{elem.email}}</span>
                            <span class="col-md-12" >{{elem.phone}}</span>
                            </div>
                        <span>Organizatie: <a>{{elem.organisation.name}}</a></span>
                       
                    </div>
                </a>
            </div>
        </div>
    </div>
    <ng-template #displayList class="table-responsive-md">
        <table class="table customTable table-sm">
            <thead>
                    <tr>
                        <!-- sortable="name" (sort)="onSort($event)" -->
                        <th scope="col" appTableSort [pager]="pager" [value]="1" (sortChanged)="sortChanged($event)">Nume</th>
                        <th scope="col" appTableSort [pager]="pager" [value]="2" (sortChanged)="sortChanged($event)">Locatie</th>
                        <th scope="col" appTableSort [pager]="pager" [value]="3" (sortChanged)="sortChanged($event)">Organizatie</th>
                        <th scope="col" appTableSort [pager]="pager" [value]="4" (sortChanged)="sortChanged($event)">Profesie</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let res of volunteersData">
                        <!-- <tr> -->
                            <td>{{res.name}}</td>
                            <td>{{res.city}}, {{res.county}}</td>
                            <td>{{res.organisation.name}}</td>
                            <td>{{res.job}}</td>
                            <!-- <td>{{res.updated_at}}</td> -->
                            <td><button class="btn-info" [routerLink]="['id',res._id]">Vezi detalii</button></td>
                        </tr>
                    
                </tbody>
        </table>

        <ngb-pagination
            [(page)]="pager.page"
            [pageSize]="pager.size"
            (pageChange)="getData()"
            [collectionSize]="pagerTotal">
        </ngb-pagination>
</ng-template>
</div>
    