<section id="wrapper" class="login-register login-sidebar">
	<div class="logo-container col-md-12 col-sm-12 col-xs-12">
		<img src="../../../assets/images/DSU_logo.PNG" />
	</div>

	<div class="login-box col-md-12 col-sm-12 col-xs-12">
		<div class="card-body">
			<form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()" class="form-horizontal form-material"
				id="resetPasswordForm">
				<div class="form-group mt-4">
					<div class="col-xs-12">
						<input formControlName="password" class="form-control" type="password" placeholder="Parolă" />
					</div>
				</div>

				<div class="form-group mt-4">
					<div class="col-xs-12">
						<input formControlName="confirmPassword" class="form-control" type="password"
							placeholder="Confirmă Parola" />
					</div>
				</div>

				<ngb-alert [dismissible]="false" *ngIf="(resetPasswordForm.invalid && resetPasswordForm.touched) || !!errorMessage"
					class="error-message" type="success">
					{{ resetPasswordForm.controls.password.errors?.password || resetPasswordForm.errors?.password || errorMessage }}
				</ngb-alert>

				<div class="form-group text-center mt-4">
					<div class="col-xs-12">
						<button *ngIf="!loading" class="btn button-login btn-lg btn-block text-uppercase waves-effect waves-light"
							type="submit" [disabled]="resetPasswordForm.invalid">
							<app-button-loader [label]="'Trimite'"></app-button-loader>
						</button>
						<div class="spinner-border text-white" role="status" *ngIf="loading">
							<span class="sr-only">Loading...</span>
						</div>
					</div>
				</div>

			</form>
		</div>
	</div>

	<div class="d-flex my-5">
		<a [routerLink]="['/login']" class="navigation">
			Autentificare
		</a>
	</div>
</section>