<section id="wrapper" class="login-register login-sidebar">
	<div class="logo-container col-md-12 col-sm-12 col-xs-12">
		<img src="../../../assets/images/dsu.jpg" />
	</div>

	<div class="login-box col-md-12 col-sm-12 col-xs-12">
		<div class="card-body">
			<form
				[formGroup]="resetPasswordForm"
				(ngSubmit)="resetPassword()"
				class="form-horizontal form-material"
				id="resetPasswordForm"
			>
				<div class="form-group mt-4">
					<div class="col-xs-12">
						<input
							formControlName="password"
							class="form-control"
							type="password"
							placeholder="Parolă"
						/>
					</div>
				</div>

				<div class="form-group mt-4">
					<div class="col-xs-12">
						<input
							formControlName="confirmPassword"
							class="form-control"
							type="password"
							placeholder="Confirmă Parola"
						/>
					</div>
				</div>

				<div class="form-group text-center mt-4">
					<div class="col-xs-12">
						<button
							class="btn button-login btn-lg btn-block text-uppercase waves-effect waves-light"
							type="submit"
							[disabled]="resetPasswordForm.invalid"
						>
							<app-button-loader
								[label]="'Trimite'"
							></app-button-loader>
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</section>
