<section id="wrapper" class="login-register login-sidebar">
	<!-- <div class="col-md-2 col-sm-1">&nbsp;</div> -->
	<div class="logo-container col-md-12 col-sm-12 col-xs-12">
		<img src="../../../assets/images/dsu.jpg" />
	</div>
	<!-- <div class="col-md-2 col-sm-1">&nbsp;</div> -->
	<div class="login-box col-md-12 col-sm-12 col-xs-12">
		<div class="card-body">
			<form
				autocomplete="off"
				[formGroup]="loginForm"
				(ngSubmit)="login()"
				class="form-horizontal form-material"
				id="loginform"
				novalidate
			>
				<div class="form-group mt-4">
					<div class="col-xs-12">
						<input
							formControlName="email"
							autocomplete="new-password"
							class="form-control"
							type="text"
							placeholder="Nume Utilizator"
						/>
					</div>
				</div>
				<div class="form-group">
					<div class="col-xs-12">
						<input
							autocomplete="new-password"
							formControlName="password"
							class="form-control"
							type="password"
							placeholder="Parola"
						/>
					</div>
				</div>
				<ngb-alert
					*ngIf="errorMessage"
					class="errormsg"
					type="success"
					(close)="successMessage = null"
					>{{ errorMessage }}</ngb-alert
				>
				<div class="form-group text-center mt-4">
					<div class="col-xs-12">
						<button
							class="btn button-login btn-lg btn-block text-uppercase waves-effect waves-light"
							type="submit"
							[disabled]="loginForm.invalid || isLoading"
						>
							<app-button-loader
								[isLoading]="isLoading"
								[label]="'Login'"
							></app-button-loader>
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>

	<div>
		<a [routerLink]="['/recover']" class="forgot-password">
			Am uitat parola
		</a>
	</div>
</section>
