
.signIn {
	margin-bottom: 15px;
	display: block;
	font-size: 19px;
	font-weight: 400;
}
.login-register {
	.login-box {
		.card-body {
			flex: 1 1 auto;
			flex-wrap: wrap;
			padding: 1.25rem;
			margin-left: auto;
			margin-right: auto;
			/* display: block; */
			max-width: 550px;
			/* margin: auto; */
		}
		input:-webkit-autofill {
			-webkit-box-shadow: 0 0 0px 1000px white inset;
		}
	}
	.form-horizontal {
		label {
			margin-left: 5px;
		}
	}
	.button-login {
		margin-top: 20px;
		background-color: rgb(255,204,0);
		color: black;	
	}
	min-height: 100vh;
    display: flex;
    flex-direction: column;
	background-color:rgb(38,73,152)
}
.logo-container{
	margin-top: 50px;
    margin-bottom: 50px;
	img{
		border-radius: 50%;
		display: block;
		margin: auto;
		height: 250px;
		border: 15px solid white;
	}
}
.login-box{
	.card-body{
		.form-group{
			background-color:transparent;
		}
		.form-control{
			border:none;
			color:white;
			background-color: transparent;
			border-bottom: 1px solid white;
			border-radius: 0px;
		}
		:focus{
			outline:none;
		}
		::placeholder{
			color: white;
		}	
	}
}
:host ::ng-deep .help-block{
	color:white;
}
.errormsg{
	color:white;
	background-color: red;
	border:none;
}