/* Layout */
.flex-container {
	display: flex;
	width: 100%;
}

.flex-row {
	flex-direction: row;
}

.align-center {
	align-items: center;
}

.justify-end {
	justify-content: flex-end;
}

.container-full-height {
	height: 100%;
}

/* Paddings */
.padding-medium {
	padding: 24px;
}

.padding-left-medium {
	padding-left: 24px;
}

.padding-right-medium {
	padding-right: 24px;
}

.padding-left-xmedium {
	padding-left: 30px;
}

.padding-right-xmedium {
	padding-right: 30px;
}

.padding-top-xlarge {
	padding-top: 54px;
}

/* Margins */
