<div class="container">
	<nav class="navbar navbar-expand-lg justify-content-between navbar-light my-5">
		<app-back-button></app-back-button>
		<div class="mx-2 my-sm-0">
			<button *ngIf="canEdit && !loading" (click)="deleteSelf()" class="btn btn-danger mx-2 my-sm-0"><span
					class="fa fa-trash-o"></span>&nbsp;&nbsp;Șterge Voluntarul</button>
			<div class="spinner-border text-danger" role="status" *ngIf="canEdit && loading">
				<span class="sr-only">Loading...</span>
			</div>
			<button (click)="edit()" class="mx-2 btn btn-info" *ngIf="canEdit"><span
					class="fa fa-edit"></span>&nbsp;&nbsp;Modifică</button>
			<!-- <button></button> -->
		</div>
	</nav>
	<div class="ngo-details row">
		<h3 class="col-md-12">Profil Voluntar: {{data?.name}}</h3>

		<span class="col-md-12"><span class="fa fa-envelope"></span> {{data?.email}}</span>
		<span class="col-md-12"><span class="fa fa-phone"></span> {{data?.phone}}</span>
		<span class="col-md-12"><b>Organizație: </b> {{data?.organisation?.name || 'Neafiliat'}}</span>
		<span class="col-md-12"><b>Localizare: </b>{{data?.city.name}}, {{data?.county.name}}</span>
		<span class="col-md-12" *ngIf="!authService.is('DSU')"><b>CNP: </b> {{data?.ssn }}</span>
		<span class="col-md-12"><b>Profesie: </b> {{data?.job || 'Nici o profesie' }}</span>
		<div class="col-md-12">
			<span><b>Data ultimului update: </b> {{ (data?.updated_at | date: 'dd.MM.yyyy') || 'Nu există' }}</span>
		</div>
	</div>
	<div class="resource-list">
		<ul type="pills" ngbNav #nav="ngbNav">
			<li ngbNavItem>
				<ng-template ngbTabTitle>Listă Acreditări</ng-template>
				<ng-template ngbTabContent>
					<div *ngIf="hasAccreditation; else noAccreditation">
						<div class="table-responsive-md">
							<table class="table customTable table-sm">
								<thead>
									<tr>
										<th>Nume Curs</th>
										<th>Data Acreditării</th>
										<th>Acreditat de</th>
									</tr>
								</thead>
								<tbody>
									<tr *ngFor="let res of data?.courses">
										<td>{{res.course_name.name}}</td>
										<td>{{res.obtained | date: 'dd.MM.yyyy' }}</td>
										<td>{{res.accredited?.name}}</td>
									</tr>
								</tbody>
							</table>
							<!-- TO-DO CAND AVEM BACKEND-->
							<!-- <ngb-pagination
                    [maxSize]="5"
                                [(page)]="pager.page"
                                [pageSize]="pager.size"
                                (pageChange)="getData()"
                                [collectionSize]="pager.total">
                            </ngb-pagination> -->
						</div>
					</div>
					<ng-template #noAccreditation>
						<span>Aceast voluntar nu are nici o acreditare adăugată în sistem.</span>
					</ng-template>
				</ng-template>
			</li>
			<li title="|" [disabled]="true" ngbNavItem></li>
			<li ngbNavItem>
				<ng-template ngbTabTitle>Listă Alocări</ng-template>
				<ng-template ngbTabContent>
					<div *ngIf="hasAlocation; else noAlocation">
						<div class="table-responsive-md">
							<table class="table customTable table-sm">
								<thead>
									<tr>
										<th>Nume Ofițer</th>
										<th>Data Alocării</th>
										<th>Localizare</th>
									</tr>
								</thead>
								<tbody>
									<tr *ngFor="let res of allocations">
										<td>{{res.rescue_officer.name}}</td>
										<td>{{res.created_at | date: 'dd.MM.yyyy' }}</td>
										<td>{{res.city.name}}, {{res.county.name}}</td>
									</tr>
								</tbody>
							</table>
							<!-- <ngb-pagination
                    [maxSize]="5"
                            [(page)]="pager.page"
                            [pageSize]="pager.size"
                            (pageChange)="getData()"
                            [collectionSize]="pager.total">
                        </ngb-pagination> -->
						</div>
					</div>
					<ng-template #noAlocation>
						<span>Acest voluntar nu a fost alocat niciodată.</span>
					</ng-template>
				</ng-template>
			</li>
		</ul>
	</div>
</div>