// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.
$fa-font-path: '../node_modules/font-awesome/fonts';
@import '../node_modules/font-awesome/scss/font-awesome.scss';
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$rvm-client-primary: mat-palette($mat-indigo);
$rvm-client-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$rvm-client-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$rvm-client-theme: mat-light-theme(
	$rvm-client-primary,
	$rvm-client-accent,
	$rvm-client-warn
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($rvm-client-theme);

/* You can add global styles to this file, and also import other style files */
html,
body {
	height: 100%;
}
body {
	margin: 0;
	font-family: Roboto, 'Helvetica Neue', sans-serif;
}
.page-title {
	font-size: 26px;
	font-weight: 400;
	color: black;
}
.navtitle {
	text-decoration: underline;
}

.note {
	background-color: #bec9e1;
	padding: 5px;
	color: black;
}

.note a {
	color: black;
	text-decoration: underline;
}

.form-control:focus {
	box-shadow: none !important;
	border-color: #ced4da !important;
}

.logo-container {
	margin-top: 50px;
	margin-bottom: 50px;
}

.logo-container img {
	border-radius: 50%;
	display: block;
	margin: auto;
	height: 250px;
	border: 15px solid white;
}

.login-register {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	background-color: rgb(38, 73, 152);
}

.login-register .form-horizontal label {
	margin-left: 5px;
}

.login-register .button-login {
	margin-top: 20px;
	background-color: rgb(255, 204, 0);
	color: black;
}

.login-register .login-box .card-body {
	flex: 1 1 auto;
	flex-wrap: wrap;
	padding: 1.25rem;
	margin-left: auto;
	margin-right: auto;
	max-width: 550px;
}

.login-register .login-box input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0px 1000px white inset;
	box-shadow: 0 0 0px 1000px white inset;
}

.login-box .card-body .form-group {
	background-color: transparent;
}
.form-group .dropdown-menu.show{
	max-height: 150px;
	overflow: auto;
}

.login-box .card-body .form-control {
	border: none;
	color: white;
	background-color: transparent;
	border-bottom: 1px solid white;
	border-radius: 0px;
}

.login-box .card-body:focus {
	outline: none;
}

.login-box .card-body::placeholder {
	color: white;
}
	
.navtitle {
	text-decoration: underline;
}

.sort {
	
	&.asc::after {
		content: '\f062';
		font-family: FontAwesome;
		font-weight: normal;
		font-style: normal;
		margin:0px 0px 0px 10px;
		text-decoration:none;
	}

	&.desc::after {
		content: '\f063';
		font-family: FontAwesome;
		font-weight: normal;
		font-style: normal;
		margin:0px 0px 0px 10px;
		text-decoration:none;
	}
}

.filterbutton {
	.ngx-dropdown-container .select-all {
		white-space: nowrap;
		margin: 10px 15px 0 15px;
	}
	.ngx-dropdown-button{
		border:none !important;
		min-width: 100px;
	}
	.ngx-dropdown-button:focus{
		outline:none !important;
	}
	.nsdicon-angle-down:before{
		content:'\F107';
		font-family: FontAwesome;
		font-weight: normal;
		font-style: normal;
		margin:0px 0px 0px 10px;
		text-decoration:none;
	}
	.ngx-dropdown-list-container{
		width: fit-content !important;
	}
}

.btn-right {
	margin-left: auto;
	margin-right: 0;
	display: block!important;
}

.px-15 {
    padding-left:15px;
    padding-right:15px;
}

.resource-list {
	margin-top:15px;
	
    .nav-item .nav-link.active {
        color:blue;
        text-decoration: underline;
        background-color: transparent;      
	}
		
    .nav-item .nav-link {
        color:gray;
        text-decoration: underline;
        background-color: transparent;
    }    
}


.table.customTable {
	
		overflow-y:auto;
	th {
        padding: 15px;
        border:none;
		border-bottom: 1px solid black;
		cursor: pointer;
	}
	
    td {
        padding: 15px;
		border-top: 1px solid black;
    }    
}

@media (min-width: 768px){
    .responsive-btn{
        margin-left:15px;
    }
}

@media (max-width: 767px){
    .responsive-btn{
        float: right;
        white-space: normal;
        margin: 25px;
        width: min-content;
    }
}

.dropup, .dropright, .dropdown, .dropleft {
	cursor: pointer;
}

.btn-primary {
	cursor: pointer;
}


.btn-group{
	height: 47px;
	
    .btn-primary {
        background-color: #ffffff;
        color: #4c2bee;
        border-color: #dddddd;
	}
	
    .btn-primary.focus, .btn-primary.active{
        background-color: #4c2bee;
        color: #ffffff;
        border-color: #421fed;
    }
}

.filters {
	margin-left: 30px;
	
    .padding-rem {
        padding: 0.375rem 0.75rem
	}
	
    .vertical-bar {
        background-color: #67757c;
        width: 2px;
        margin-left: 10px;
        margin-right: 10px;
    }
}

.login-register {
	.navigation {
		margin: auto;
		color: white;
	}
	

	.navigation:hover {
		text-decoration: underline;
	}

	.error-message {
		color: white;
		background-color: red;
		border: none;
	}
}

@media (max-width: 1199px) {
    .btn-adjusting {
        width: min-content;       
    }
}

.navbar .add-btn{
	white-space: normal;
    height: auto;
}
@media (max-width: 767px) {
	
	.hidden-radio {
        display: none !important;
    }
}

.card-title {
	height: 50px;
	line-height: 25px;
	overflow: hidden;
}

.card-body p {
	color: black;
}

.card-body a {
	max-width: 100%;
}


.card {
	cursor: pointer;
}
