<header *ngIf="authService.isAuthenticated()">
	<nav class=" yellow  container-full-height greedy" id="greedy-nav" (window:resize)="onResized($event)">
		<div class="flex-container container flex-row">

			<div class="px-3 bg-white">
				<a (click)=" goToDashboard()" class=" navbar-brand logo" href="javascript:void(0);">
					<img src="../../assets/images/DSU_logo.PNG">
				</a>
			</div>

			<div class="row" style="width: 100%; margin: 0">

				<div class="flex-column col-4 col-sm-6 col-md-7 col-lg-8 col-xl-9">
					<ul class="nav" id="ulVisibleLinks">
						<li>
							<a routerLink="/volunteers" class="nav__link" routerLinkActive="active-link">Voluntari</a>
						</li>
						<li *ngIf="authService.is('DSU', 'NGO')">
							<a routerLink='/resources' class="nav__link" routerLinkActive="active-link">Resurse</a>
						</li>
						<li *ngIf="authService.is('DSU')">
							<a routerLink='/organisations' class="nav__link"
								routerLinkActive="active-link">Organizații</a>
						</li>
						<li *ngIf="authService.is('DSU', 'INS')">
							<a routerLink='/users' class="nav__link" routerLinkActive="active-link">Utilizatori</a>
						</li>
						<li *ngIf="authService.is('DSU')">
							<a routerLink='/map' class="nav__link" routerLinkActive="active-link">Hartă</a>
						</li>
						<li>
							<a routerLink="/info" class="nav__link" routerLinkActive="active-link">Info</a>
						</li>
						<li>
							<a routerLink="/info" class="nav__link" routerLinkActive="active-link">Extra</a>
						</li>
					</ul>
				</div>

				<div class="navbar-btn flex-row d-flex justify-end align-center col-8 col-sm-6 
				 col-md-5 col-lg-4 col-xl-3">

					<div ngbDropdown class="d-inline-block pr-2">
						<div class="nav-btn" id="greedy-nav-btn" (click)="onNavBtn()"
							ngbDropdownToggle>Menu</div>
						<div ngbDropdownMenu id="divHiddenLinks" class="yellow">
							<ul class='nav' id="ulHiddenLinks"></ul>
						</div>
					</div>

					<div ngbDropdown class="d-inline-block">
						<div class="userarea" id="dropdown1" ngbDropdownToggle>
							<app-current-profile></app-current-profile>
						</div>
						<div ngbDropdownMenu aria-labelledby="dropdown1">
							<button ngbDropdownItem [routerLink]="['users', 'id', authService.user._id]">Profil</button>
							<button ngbDropdownItem (click)="logout()">Delogare</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</nav>
</header>